# DS-SF-27 | Codealong 02 | Research Design and `pandas`

## Part A - Introduction to `pandas` with the SF Housing dataset

> ### Set up the environment

In [4]:
import os

import pandas as pd
pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Load data from files and the Web

`pandas` provides powerful facilities for easy retrieval of data from a variety of data sources.  In particular, it provides built-in support for loading data in `.csv` format, a common means of storing structured data in text files.

In [5]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'))

> Let's verify the type of `df`:

In [6]:
# TODO
type(df)

pandas.core.frame.DataFrame

The result is a `DataFrame`.  A `DataFrame` stores tabular data:

In [7]:
df.head(5)

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299.0,sqft,NaN,NaN,1993.0

> ### Shape of the `DataFrame`: number of rows and columns

In [8]:
df.shape

(1000, 15)

The first value is the number of rows, the second the number of columns.

In [9]:
df.shape[0]

1000

In [10]:
df.shape[1]

15

(you can also use the idiomatic `len` to get the number of rows)

In [11]:
len(df)

1000

> We can get the "names" of the rows of the `DataFrame` with the `index` property.

In [12]:
df.index

RangeIndex(start=0, stop=1000, step=1)

Here, rows are just numbered from 0 to 1,000 (excluded).

> We can also get the names of the different columns of the `DataFrame` with the `column` property.

In [13]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'BedCount', u'BathCount',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

> ### Subsetting on columns of a `DataFrame`

Selecting data in specific columns of a `DataFrame` is performed by using the `[]` operator.

Passing a single integer, or a list of integers, to `[]` will perform a location based lookup of the columns.

> E.g., columns #5 and #6:

In [14]:
# TODO
#df[ [5,6]]
df[ ["SalePrice"]]

     SalePrice
0    710000.00
1         2.15
2         5.60
..         ...
997  830000.00
998  835000.00
999  825000.00

[1000 rows x 1 columns]

> Let's check that the column subsetting returns a `DataFrame`:

In [15]:
# TODO
type(df[ [5,6]])

pandas.core.frame.DataFrame

A `DataFrame` can be made of a single column.

> E.g., column #7 only:

In [16]:
# TODO
df[[7]]

    IsAStudio
0       False
1       False
2       False
..        ...
997     False
998     False
999     False

[1000 rows x 1 columns]

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `SalePrice` and `SalePriceUnit`:

In [17]:
# TODO
df[["SalePrice", "SalePriceUnit"]]

     SalePrice SalePriceUnit
0    710000.00             $
1         2.15            $M
2         5.60            $M
..         ...           ...
997  830000.00             $
998  835000.00             $
999  825000.00             $

[1000 rows x 2 columns]

However, you cannot mix integers and non-integers.  E.g.,

In [ ]:
# "df[ ['SalePrice', 6] ]" errors out...  Try it!

Not passing a list always results in a value based lookup of the column:

In [18]:
df['Address']

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

> Let's double check that result is a `Series`:

In [19]:
# TODO
type(df [ "Address"])

pandas.core.series.Series

Columns can also be retrieved using "attribute access" as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  However, this won't work for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `Address` property:

In [21]:
# TODO
type(df.Address)

pandas.core.series.Series

> Use the `name` property (not `columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

In [22]:
# TODO
df.Address.name

'Address'

To find the zero-based location of a column, use the `.get_loc()` method of the `columns` property.  E.g.,

In [25]:
df.columns.get_loc('Address')

1

In [28]:
df[ [df.columns[1]] ]

                                       Address
0    55 Vandewater St APT 9, San Francisco, CA
1          740 Francisco St, San Francisco, CA
2          819 Francisco St, San Francisco, CA
..                                         ...
997       33 Santa Cruz Ave, San Francisco, CA
998          1821 Grant Ave, San Francisco, CA
999           1200 Gough St, San Francisco, CA

[1000 rows x 1 columns]

> We should get the same output as subsetting a `DataFrame` on `BedCount`:

In [29]:
# TODO
df [["Address"]]

                                       Address
0    55 Vandewater St APT 9, San Francisco, CA
1          740 Francisco St, San Francisco, CA
2          819 Francisco St, San Francisco, CA
..                                         ...
997       33 Santa Cruz Ave, San Francisco, CA
998          1821 Grant Ave, San Francisco, CA
999           1200 Gough St, San Francisco, CA

[1000 rows x 1 columns]

> ### Subsetting on rows of a `DataFrame`; and values of a `DataFrame` using the index

#### Slice using the `[]` operator

> E.g., the first five rows:

In [30]:
# TODO
df[2:5]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299.0,sqft,NaN,NaN,1993.0

> ### Select rows by index label and location: `.loc[]` and `.iloc[]`

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.  E.g., `ID`:

In [31]:
df = df.set_index('ID')

In [32]:
df.index

Int64Index([  15063471,   15063505,   15063609,   15064044,   15064257,
              15064295,   15064391,   15064536,   15064640,   15064669,
            ...
            2108546010, 2114498518, 2121221385, 2121978635, 2122992200,
            2124214951, 2126960082, 2128308939, 2131957929, 2136213970],
           dtype='int64', name=u'ID', length=1000)

In [33]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900.0,sqft,NaN,NaN,1966.0

> E.g., row with index 15063505:

In [36]:
# TODO
df.loc[15063505]

Address        740 Francisco St, San Francisco, CA
Latitude                                  37804420
Longitude                               -122417389
                              ...
LotSize                                       2435
LotSizeUnit                                   sqft
BuiltInYear                                   1948
Name: 15063505, dtype: object

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [38]:
# TODO
df.loc[[15063505, 15064044]]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0

> E.g., rows #1 and #3:

In [ ]:
# TODO

> ### Scalar lookup by label or location using `.at[]` and `.iat[]`

Scalar values can be looked up by label using .at, by passing both the row label and then the column name/value.

> E.g., row with index 15064044 and column `DateOfSale`.

In [ ]:
# TODO

Scalar values can also be looked up by location using .iat by passing both the row location and then the column location.

> E.g., row #3 and column #3:

In [ ]:
# TODO

> ### Select rows of a `DataFrame` by Boolean selection

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [ ]:
# TODO

This results in a `Series` that can be used to subset on the rows which values are `True`.

> Let's subset on that `Series`:

In [ ]:
# TODO

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B - Wrangling the SF Housing dataset (take 2) with `pandas`

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'), index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

> ### Remove the `Latitude` and `Longitude` columns

In [ ]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [ ]:
df

> ### `SalePrice`: scale all values to dollars

In [ ]:
df.SalePriceUnit.unique()

In [ ]:
df_1 = df[df.SalePriceUnit == '$']

df_1 = df_1.drop('SalePriceUnit', axis = 1)
# Really a workaround as DataFrame.drop() with inplace = True issue warnings...

df_6 = df[df.SalePriceUnit == '$M']

df_6 = df_6.drop('SalePriceUnit', axis = 1)

# Replacing the content of a column
df_6.SalePrice = df_6.SalePrice * (10 ** 6)

# Adding rows to a DataFrame
# Concatenation of two DataFrame objects
df = pd.concat([df_1, df_6])

In [ ]:
df.sort_index()

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [ ]:
# TODO

In [ ]:
df

> ### `Size`

In [ ]:
df.SizeUnit.unique()

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [ ]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [ ]:
df.LotSizeUnit.unique()

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [ ]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

> Group #2: the `sqft` values:

In [ ]:
# TODO (use df_sqft)

> Group #3: the `ac` values:

In [ ]:
# TODO (use df_ac)

> Let's scale these `acre` values into `sqft`:

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ### Save the `pandas` `DataFrame` to a `.csv` file

In [ ]:
df.to_csv(os.path.join('..', 'datasets', 'zillow-02.csv'), index_label = 'ID')